@import '../../styles/base.scss';

footer {
  margin-top: auto;
  background-color: $background-color;
}

.container-footer {
  width: 1152px;
  margin: 0 auto;
  padding: 5px 10px;
}

.developer {
  font-size: 20px;
  line-height: 1.55;

  text-align: right;
  color: #cbcaca;

  & > span {
    color: #ffffff;
  }
}
